<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
     xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    ">
	<context:component-scan base-package="controller"></context:component-scan>
	<mvc:annotation-driven/>
	
	<!-- <mvc:resources mapping="/statics/**" location="/WEB-INF/jsp/backend/statics/"/>
	 -->
	<mvc:resources location="/temp/" mapping="/temp/**"  />  
 <mvc:resources location="/lib/" mapping="/lib/**"  /> 
 <mvc:resources  location="/static/" mapping="/static/**"/>
 <mvc:resources  location="/statics/" mapping="/statics/**"/>
  <mvc:resources  location="/uploadFile/" mapping="/uploadFile/**"/>
  <mvc:resources  location="wappay" mapping="/wappay/**"/>
  
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" ></property>
	</bean>
<!--    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"> -->
<!--    		<property name="exceptionMappings"> -->
<!--    			<props> -->
<!--    				<prop key="java.lang.Exception">error</prop> -->
<!--    				<prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">error_fileupload</prop>   -->
<!--    			</props> -->
<!--    		</property> -->
<!--    </bean> -->
   <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
      		<property name="messageConverters">
      	   		<list>
      				<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
      	   		</list>
      		</property>
      </bean>
   
    <bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="maxUploadSize" value="10000000" />
	</bean>
	 
	 <!--  <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="" />
			
			<bean class="interceptor.LoginInterceptor"></bean> 拦截所有springmvc的url！
		</mvc:interceptor>
	</mvc:interceptors> -->
</beans>
